body {
  display: flex;
  margin: 0;
  padding: 10px;
  font-family: "Acme", sans-serif;
  background-color: #baddff;
}
.btn {
  font-family: "Acme", sans-serif;
  border-radius: 5px;
}
.image {
  max-width: 50px;
  border-radius: 10px;
}
.big-div {
  display: flex;
  justify-content: space-around;
}
.food-truck-list-item {
  display: flex;
  flex-direction: row;
  max-height: 200px;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-bottom: 4px;
  background-color: #f2f7f0;
}
.food-truck-details {
  padding: 5px;
}
.map {
  display: flex;
  justify-content: left;
  position: fixed;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-left: 5px;
}
